.container{
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 100px;
    height: 100%;
}
.button{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
}
.btnIcon{
    height: 24px;
    margin-right: 15px;
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: black;
    padding-bottom: 15px;

    /* background-color: black; */
}
.exit{
    /* color: whitblacke; */
    text-decoration: none;
    font-size: 20px;
}
.mainIcon{
    height: 40px;
    width: 40px;
}