.container{
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 55px;
    min-height: 100vh;
}
.button{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
}
.btnIcon{
    height: 24px;
    margin-right: 15px;
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: black;
}
.exit{
    color: white;
    text-decoration: none;
}