.tableHeader{
    color: grey;
}
.tableBody{

}
.tableBold{
    font-weight: bold;
}

.filterButton{
    display: flex;
    align-items: center;
    color: grey;
}
.filterIcon{
    height: 20px;
    margin-right: 5px;
}